*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: none;
  border: none;
  box-sizing: border-box;
  transition: all .2s linear;
  
}

.navbar nav{
  display: flex;
  justify-content: space-between;
  padding: 2.5rem;
  
}

  
}
.navbar nav .logo h1{
  font-family: 'Chakra Petch', sans-serif;
  cursor: pointer;
  color: purple;
}
.navbar nav ul li{
  margin: 0.1rem;
  list-style: none;
  font-family:'Chakra Petch', sans-serif;
  color: white;
}
.navbar nav ul li a{
  color:#e6e6e6;
  text-align: none;
  padding: ;
}
.navbar nav{
  display: flex;
  justify-content: space-between;
  padding: 2.5rem;
  
}
.navbar nav .logo h1 {
  color: purple;
   font-family: 'Chakra Petch', sans-serif; 
}

}
.navbar nav .logo h1 span{
  font-size: 0rem;
  font-weight: normal;
  font-family: 'Chakra Petch', sans-serif;
}
.navbar nav ul{
  display: flex;
}
.navbar nav ul li{
  margin: 0.1rem;
  list-style: none;
  font-family: 'Chakra Petch', sans-serif;
  
}
.navbar nav ul li a{
  color:#ebe6e6;
  text-decoration: none;
  padding:02rem 1rem ;
  border-right: 2px solid #e8e8e8;
}
.navbar nav ul .list li a {
  border-right: none;
  
} 
.navbar nav ul a:hover{
  color: purple;
}
.logo h1{
  color: purple;
  
}
.logo h2{
  color:#a187ba;
}
body{
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.125rem;
  height: 100vh;
  display: -moz-grid;
  display:-ms-grid;
  display: grid;
  padding: 2%;
  
  place-items: center;
  
  background-color: black;
  color: white;
}
.container{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display:block;

  width: 90%;
  max-width:1100px ;

  gap: 2rem;
}
.avatar img{
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(1);
  transition: all 500ms ease-in-out;
  vertical-align: top;
}
.avatar img:hover,
.avatar img:focus{
  filter:grayscale(0);
}
.about{
  margin-bottom: 2rem;

}

}
.location{
  font-weight: 400;
}
p{
  margin-bottom: right;

  
}
.social img{
  width: 30px;
  color: #0b0a0a;
}
.social{
  margin-bottom: 3rem;
  display: -webkit-flex;
  display:-moz-flex ;
  display: -ms-flex;
  display: flex;

  align-items: center;
  gap: 1rem;
  
}
.links{
  text-decoration: none;
  transition:all 300ms ease-in-out ;
}
.links:hover.
.links:focus{
opacity:0.7;

}



@media (max-width: 900px){
  #container{
    flex-wrap: wrap;
  
}



